body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.img{
    display: block;
}
/* Header */
.header{
    height: 90px;
}
.logo{
    padding-top: 35px;
}
ul.header__nav{
    padding-top: 35px;
}
.header__menu a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #777777;
    letter-spacing: 0.2em;
}
.header__menu a:hover{
    text-decoration: none;
}
.header__menu i {
    font-size: 15px;
    font-weight: bold;
    color: #777777;
}
.active a{
    color: #000;
}

/* section - slider  */

.slider__one, .slider__two{
    position: relative;
}
.owl-prev {
    position: absolute;
    top: 380px;
    left: 107px;

}
.owl-next{
    position: absolute;
    top:380px;
    right: 107px;
}
.owl-dots{
    position: absolute;
    bottom: 80px;
    right: 50%;
}
.owl-theme .owl-dots .owl-dot span{
    width: 20px;
    height: 20px;
    background-color: #000000;
    border: none;
}
.owl-theme .owl-dots .owl-dot span:hover{
    background-color: white;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: white;
}
.owl-theme .owl-dots .owl-dot.active span:hover{
    background-color: #000;
}
.slider__one img{
    width: 100%;
}

/* section = body__nav */

.body__nav-item, .body__nav-item-last {
    padding: 25px 30px;
    font-size: 1em;
    letter-spacing: 0.09em;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
}

.border-menu{
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
}
.active2{
    color: black;
}

/* section = pictures */

.pictures__item{
    margin-top: 30px;
}
.pictures__btn{
    width: 125px;
    height: 30px;
    background-color: #959595;
    margin: 35px auto 140px;
    text-align: center;
    border-radius: 3px;
    padding-top: 2px;
}
.pictures__btn a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
}
.pictures__btn a:hover{
    text-decoration: none;
}

/* Footer */
.footer__logo{
    border-top: 3px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;

}
.logo__down{
    display: flex;
    margin: 64px auto 42px;
}
.footer__icons{
    border-bottom: 2px solid #f2f2f2;
}
.icon{
    color: #a0a0a0;
    font-size: 20px;
    margin: 25px 55px;
}
.footer__text{
    font-size: 13px;
    color: #b8b8b8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.footer__text span{
    color:#000
}

/* Вторая страница - About -
    - header -
 */
.header_about{
    min-height: 440px;
}
.header_about-up{
    margin-bottom: 30px;
}
.header_about_photo img{
    display: block;
    margin: 0 auto;
}

/* section - our-story - */
.our-story{
    margin-top: 70px;
    margin-bottom: 95px;
}
.our-story__photo{
    width: 100%;
}
.our-story__title{
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 40px;
}
.our-story__text{
    font-size: 18px;
    color: #777777;
    margin-bottom: 30px;
    line-height: 2;
}
.statistics-range{
    margin-bottom: 5px;
}

/* section - team --  */

.team{

}
.team__title{
    text-transform: uppercase;
    letter-spacing: 0.6em;
    text-align: center;
    margin-bottom: 45px;
}
.team__title-text{
    font-size: 18px;
    color: #777777;
    margin-bottom: 30px;
    line-height: 2;
    text-align: center;
}



























