body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
img, button{
    display: block;
}
* {
    box-sizing: border-box;
}

/* Header */
.header{
    height: 90px;
}
.logo{
    padding-top: 35px;
}
ul.header__nav{
    padding-top: 35px;
}
.header__menu a {
    text-transform: uppercase;
    font-size: calc(0.5rem + 0.22vw);
    font-weight: bold;
    color: #777777;
    letter-spacing: 0.2em;
}
.header__menu a:hover{
    text-decoration: none;
}
.header__menu i {
    font-size: 15px;
    font-weight: bold;
    color: #777777;
}
.active a{
    color: #000;
}

/* section - slider  */

.slider__one, .slider__two{
    position: relative;
}
.owl-prev {
    position: absolute;
    top: 30%;
    left: 1.5vw;

}
.owl-next{
    position: absolute;
    top: 30%;
    right: 1.5vw;
}
.owl-dots{
    position: absolute;
    bottom: 80px;
    right: 50%;
}
.owl-theme .owl-dots .owl-dot span{
    width: 20px;
    height: 20px;
    background-color: #000000;
    border: none;
}
.owl-theme .owl-dots .owl-dot span:hover{
    background-color: white;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: white;
}
.owl-theme .owl-dots .owl-dot.active span:hover{
    background-color: #000;
}
img .slider__one {
    width: 100vw;
}

/* section = body__nav */

.body__nav{
    padding-top: calc(1.5em + 1vh);
}
.body__nav-item, .body__nav-item-last {
    padding: 25px 30px;
    font-size: calc(0.5em + 0.2vw);
    letter-spacing: 0.09em;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
}

.border-menu{
    border-bottom: 2px solid #e0e0e0;
    border-top: 2px solid #e0e0e0;
}
.active2{
    color: black;
}

/* section = pictures */

.pictures__item{
    margin-top: 30px;
}
.pictures__btn{
    width: 125px;
    height: 30px;
    background-color: #959595;
    margin: 35px auto 0;
    text-align: center;
    border-radius: 3px;
    padding-top: 2px;
}
.btn-wrapper{
    padding-bottom: 9.6em;
}
.pictures__btn a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
}
.pictures__btn a:hover{
    text-decoration: none;
}

/* Footer */
.footer__logo{
    border-top: 3px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
.logo__down{
    display: flex;
    margin: 64px auto 42px;
}
.footer__icons{
    border-bottom: 2px solid #f2f2f2;
}
.icon{
    color: #a0a0a0;
    font-size: 20px;
    margin: 25px 55px;
}
.footer__text{
    font-size: 13px;
    color: #b8b8b8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.footer__text span{
    color:#000
}

/* SECOND PAGE - About -
    - header -
 */
.header_about{
    min-height: 440px;
}
.header_about-up{
    margin-bottom: 30px;
}
.header_about_photo img{
    width:100vw;
    margin: 0 auto;
}

/* section - our-story - */
.our-story{
    margin-top: 70px;
    margin-bottom: 95px;
}
.our-story__photo{
    width: 100%;
}
.our-story__title{
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 40px;
}
.our-story__text{
    font-size: 18px;
    color: #777777;
    margin-bottom: 30px;
    line-height: 2;
}
.statistics-range{
    margin-bottom: 5px;
}

/* section - team --  */

.team__title{
    text-transform: uppercase;
    letter-spacing: 0.6em;
    text-align: center;
    margin-bottom: 45px;
}
.team__title-text{
    font-size: 18px;
    color: #777777;
    margin-bottom: 75px;
    line-height: 2;
    text-align: center;
}
.member{
    width: 100%;
    margin-bottom: 35px;
}
.member-text{
    padding-left: 30px;
    margin-bottom: 75px;
}
.member-name{
    text-transform: uppercase;
    letter-spacing: 0.09em;
    padding-bottom: 10px;
}
.member-job{
    color: #777;
    font-weight: bold;
    padding-bottom: 30px;
}
.member-dics{
    font-size: 18px;
    color: #777777;
    padding-bottom: 30px;
    line-height: 2;
}
.lian, .albert, .jenn{
    background: #fff;
}

/* THIRD PAGE - Portfolio -
          -- section - blog --  */
.body_blog{
    background: #fafafa;
}
.blog{
    padding-top: 70px;
}
.blog__first{
    padding: 35px;
    margin-bottom: 28px;
    background: white;
}
.blog__first_btn{
    margin-bottom: 30px;
    background: black;
    color: white;
    border-radius: unset;
    font-size: 15px;
}
.blog__first_title{
    font-weight: bold;
}
.user-name{
    color: #dadada;
    font-size: 14px;
    margin-bottom: 20px;
}
.user-name i{
    padding-right: 10px;
    padding-top: 4px;
}
.blog__first_text{
    font-size: 14px;
    color: #777777;

    line-height: 1.5;
    text-align: justify;
}
.blog__first_text a{
    color: #777777;
}
.blog__first_text a:hover{
    text-decoration: none;
    color: #777777;
}
.blog__first_data{
    color: #dadada;
    font-size: 14px;
}
.calendar{
    padding-right: 10px;
}
.share{
    padding-right: 25px;
    padding-left: 55px;
}
.first-column__pic{
    max-width: 100%;
}
.first-column__pic-blog{
    margin-bottom: 28px;
}
.wrapper{
    padding: 35px;
    background: white;
}
.blog__first_negative{
    background-image: url("../img/first_column_blog.png");
}
.blog__first_title_negative {
    color: white;

}
.blog__first_btn_negative{
    border: none;
}
.pic_candles{
    margin-bottom: 28px;
}
.search__form{
    margin-bottom: 28px;
}
.search__btn{
    display: inline-block;
    position: absolute;
    top:15px;
    right: 25px;
    border: none;
    color:white;
}
.search__win{
    width: 100%;
    height: 60px;
    position: relative;
    border: none;
}
input[type="search"]::-webkit-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
}

input[type="search"]:-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
}

input[type="search"]::-ms-input-placeholder {
    font-style: italic;
    color: #b7b7b7;
}

input[type="search"]::placeholder {
    font-style: italic;
    color: #b7b7b7;
}
.recent__posts-title{
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    color: #767676;
    background: #ebebeb;
    position: relative;
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
.recent__posts-title::after, .recent__posts::before{
    content: '';
    position: absolute;
    background: #ebebeb;
    left: 160px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.pic-text{
    padding-left: 20px;
    padding-right: 20px;
}
.recent__posts{
    margin-bottom: 28px;
}
.recent__posts-padding{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: white;
}
.recent__posts-wrapper{
    margin-bottom: 20px;
}
.recent__posts_pic{
    margin-right: 16px;
    height: 100%;
}
.recent__posts_text {
    font-weight: 500;
    color: #3d3d3d;
    font-size: 15px;
    letter-spacing: -0.06em;
    text-align: justify;
    padding-bottom: 0;
    margin-bottom: 0;
}
.recent__posts_data{
    color: #cccccc;
    font-size: 14px;
    margin-bottom: 0;
}
.tags{
    margin-bottom: 28px;
}
.tags__btn{
    font-size: 13px;
    background: none;
    border: 1px solid #cccccc;
    color: #cccccc;
    width: 97px;
    height: 28px;
    margin-bottom: 10px;
}
.tags__btn_negative{
    width: 128px;
    background: black;
}
.tags-wrapper{
    padding: 0 20px 20px;
    background: white;
}
.tags__btn_larger{
     width: 128px;
}
.inst-photo-wrapper {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: white;
}
.inst-photo__item{
    padding-right: 0;
    margin-bottom: 20px;
    width: 100px;
    height: 80px;
}
.picture__btn_blog{
   margin-bottom: 0;
    margin-top: 70px;
}
.blog_btn-wrapper{
    padding-bottom: 90px;
}

/* ----Forth page----
  --------------Contacts------------- */
img.contacts_photo{
    width: 100%;
}
.address{
    padding-top: 100px;
    padding-bottom: 70px;
}
.address__title{
    text-transform: uppercase;
    color: #767676;
    letter-spacing: 0.3em;
    font-size: calc(1rem + 0.25vw);
}
.address__title-text{
    font-weight: lighter;
    color: #777;
    font-size:  calc(0.5em + 0.33vw);
    position: relative;
    margin-bottom: 4em;
}
.address__title-text:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 1px;
    width: 60px;
   display: block;
    background: black;
}
.address__text{
    font-weight: bold;
    color: #bdbdbd;
    font-size:  calc(0.5em + 0.3vw);
    margin-bottom: 2.25em;
}
.hours{
    color: black;
}
.tel{
    font-size:  calc(0.5em + 0.3vw);
    color: black;
    font-weight: bold;
}
.fax{
    font-size:  calc(0.5em + 0.33vw);
    font-weight: bold;
    color: #777;
}

#email, #name{
    width: 45%;
    border: 1px solid #ebebeb;
}
#name{
    margin-right: 8.5%;
}
#message-text{
    height: 10vw;
    resize: none;
    outline: none;
    border: 1px solid #ebebeb;
}

.submit__btn{
    width: 25%;
    background: black;
    color: white;
    border: none;
    margin-top: 2em;
    font-size:  calc(0.5em + 0.2vw);
    letter-spacing: 0.04em;
    padding: 7px 0;

}
.contact_form textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
}

.contact_form textarea:-ms-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
}

.contact_form textarea::-ms-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
}

.contact_form textarea::placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
}
.contact_form input[type="text"]::-webkit-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}

.contact_form input[type="text"]:-ms-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}

.contact_form input[type="text"]::-ms-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}

.contact_form input[type="text"]::placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}
.contact_form input[type="email"]::-webkit-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}

.contact_form input[type="email"]:-ms-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}

.contact_form input[type="email"]::-ms-input-placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}

.contact_form input[type="email"]::placeholder {
    font-style: italic;
    color: #bababa;
    font-size: calc(0.5em + 0.28vw);
    padding-left: 10px;
}
.map-photo img{
    width: 100%;
}
.values{
    padding-top: calc(4em + 0.5vh);
}
.values__title{
    text-align: center;
    margin-bottom: 3.12rem;
}
.values__text{
    text-align: center;
    font-size:  calc(0.5em + 0.33vw);
    font-weight: bold;
    color: #777;
    line-height: 2;
    margin-bottom: 4.06rem;
}
img .boy{
    width: 100%;
}
.who-we-are__title{
    font-size: calc(1rem + 0.05vw);
    padding-top: 2em;
    padding-bottom: 2.5em;
}
.who-we-are__text{
    font-size:  calc(0.5em + 0.33vw);
    font-weight: bold;
    color: #777;
    line-height: 2;
}

/* -----MEDIA--------- */

@media screen and (max-width: 1200px) {
    .pictures img.pictures__item{
        width: 100%;
    }
    .pictures img.pictures__item {
        margin: 30px auto;
    }
}

@media screen and (max-width: 992px) {
    .pictures img.pictures__item {
        width: 90%;
    }


    .body__nav-menu {
        width: 100%;
    }

    .body__nav-item, .body__nav-item-last {
        padding: 10px;
        align-self: center;
    }
    .btn-wrapper{
        padding-bottom: calc(2em + 0.22vh);
    }
}
@media screen and (max-width: 768px) {
    .owl-dots{
        right:45%;
        bottom: 5vh;
    }
    .owl-theme .owl-dots .owl-dot span{
        width: calc(0.5rem + 0.5vh);
        height: calc(0.5rem + 0.5vh);
    }
}

@media screen and (min-width: 470px) and (max-width: 576px) {

    .owl-dots {
        right: 45%;
        bottom: 3vh;
    }
    .owl-nav img {
        width: 50%;
        height: 50%;
    }
    .owl-prev {
        left: 0.8vw;
    }

    .owl-next {
        right: 0;
    }
    .owl-theme .owl-dots .owl-dot span{
        width: calc(0.5rem + 0.2vh);
        height: calc(0.5rem + 0.2vh);
    }
    span.slash{
        display: none;
    }
    .icon{
        margin: 25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 470px) {
    li.header__menu{
        margin-right: 5px;
    }
    .header__nav span{
        margin-right: 5px;
    }
    .owl-dots {
        right: 45%;
        bottom: 1vh;
    }
    .owl-nav img {
        width: 50%;
        height: 50%;
    }
    .owl-prev {
        top:20%;
        left: 0.8vw;
    }
    .owl-next {
        top:20%;
        right: 0;
    }
    .owl-theme .owl-dots .owl-dot span{
        width: calc(0.5rem + 0.2vh);
        height: calc(0.5rem + 0.2vh);
    }
    span.slash{
        display: none;
    }
    .icon{
        margin: 25px;
    }
    ul.header__nav, .logo{
        padding-top: 15px;
    }
    .header{
        height: 70px;
    }
    .body__nav {
        padding-top: 1em;
    }
    .body__nav-item, .body__nav-item-last{
        font-size: 0.5em;
        padding: 5px;
    }
    span.slash {
        display: none;
    }
    button.pictures__btn{
        margin-top: 15px;
    }
    .icon{
        margin: 18px;
    }
    .logo__down{
        margin-top: 30px;
    }
}













































